.rainbow {
    font-weight:bold;
    color: transparent;
    background: linear-gradient( 90deg,
        #ff0000 20%,
        #ffa500 30%,
        #ffff00 40%,
        #008000 50%,
        #00ffff 60%,
        #0000ff 70%,
        #800080 80%);
    background-clip: text;
    -webkit-background-clip: text;
}

.marquee {
    overflow: hidden;
    position: relative;
}
.marquee::after {
    content: "";
    white-space: nowrap;
    display: inline-block;
}
.marquee > .marquee-inner {
    position: absolute;
    top: 0;
    white-space: nowrap;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes marquee {
    0% { left: 100%; transform: translate(0); }
    100% { left: 0; transform: translate(-100%); }
}

.blink {
  animation: blinkAnime 0.6s infinite alternate;
}
@keyframes blinkAnime{
   0% { color: #ffffff }
  30% { color: #000000 }
 100% { color: #000000 }
}

.bigborder{
    display: inline-block;
    border: outset 20px #444444;
}
